body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:  #000;
    color: #fff;
       
}

header {
    margin-top: 10px;
    background-color: #000000;
    padding: 20px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
    font-size: 54px;
    font-weight: bold;
    color: #FF6600;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 23px;
    border: 0.5px solid #fdfcfc;
    border-radius: 43px;
    padding: 3px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    display: block;
}

ul li.active a {
    color: #FF6600;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-icon {
    display: flex;
    align-items: center;
}

.search-icon i {
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.nav-buttons .sign-up {
    text-decoration: none;
    padding: 9px 25px;
    border: 2px solid #f47005;
    color: #fb7100;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 60px;
}

.hero {
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 50%;
    margin-bottom: 100px;
}

.hero-text h1 {
    font-size: 50px;
    color: #bd5611;
    margin-bottom: 4px;
    font-weight: lighter;
}

.hero-text h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.hero-text p {
    font-size: 15px;
    margin: 20px 0;
    max-width: 600px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.hero-buttons .order-now,
.hero-buttons .learn-about {
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 15px;
}

.hero-buttons .order-now {
    background-color: #bd5611;
    color: #fff;
}

.hero-buttons .learn-about {
    border: 1px solid #fff;
    color: #fff;
}

.hero-image {
    flex: 1;
    text-align: right;
}

.hero-image img {
    max-width: 90%;
    height: auto;
}

/* offer section  */

.offers {
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-left: 0;
   
}

.offers h2 {
    margin-right: 140px;
    font-weight: lighter;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: left;
    color: #fff;
}

.offer-cards {
    display: flex;
   justify-content: space-evenly;
   gap: 30px;
    
}

.offer-card {
    background-color: #252525;
    padding: 20px;
    border-radius: 8px;
    width: auto;  
    height: auto; 
    text-align: center;
}

.offer-card i {
    font-size: 40px;
    color: #FF6600;
    margin-bottom: 15px;
}

.offer-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.offer-card p {
    font-size: 16px;
    color: #ddd;
}
